<ContentView>
    <StackLayout Margin="new Thickness(20)">

        <Label Text="@($"Hello, World! {count}")" FontSize="40" />

        <Button Text="Increment" OnClick="@IncrementCount" />

        @*
        <WebView Source=@(new HtmlWebViewSource { Html = htmlSource }) OnWebMessageReceived="HandleWebMessage" @ref="myWebView" />

        <WebView Source=@(new UrlWebViewSource { Url = "https://en.wikipedia.org/wiki/HTML" }) VerticalOptions="LayoutOptions.FillAndExpand" />
        *@

        <BlazorWebView>
            <h1>Web content [@count]</h1>
            <p>This is web within native, all Blazor</p>
            <button @onclick="@IncrementCount">Increment</button>
        </BlazorWebView>

    </StackLayout>
</ContentView>


@code {
    int count;

    BlazorDesktop.Components.WebView myWebView;

    string htmlSource = @"<html><body>
        <p>Welcome to WebView.</p>
        <button onclick=""window.external.sendMessage('blah😋')"">Invoke .NET</button>
        <script>
            window.external.receiveMessage(function (message) {
                alert(message);
            });
        </script>
        </body>
        </html>";

    void IncrementCount()
    {
        count++;
    }

    void HandleWebMessage(string data)
    {
        count++;
        myWebView.SendMessage($"Received: {data}");
    }
}
