<ContentView>
    <StackLayout Margin="new Thickness(20)">

        <Label Text="@($"Hello, World! {count}")" FontSize="40" />

        <Counter />

        @*
        <WebView Source=@(new HtmlWebViewSource { Html = htmlSource }) OnWebMessageReceived="HandleWebMessage" @ref="myWebView" />

        <WebView Source=@(new UrlWebViewSource { Url = "https://en.wikipedia.org/wiki/HTML" }) VerticalOptions="LayoutOptions.FillAndExpand" />
        *@

        <BlazorWebView />

    </StackLayout>
</ContentView>


@code {
    int count;

    BlazorDesktop.Components.WebView myWebView;

    string htmlSource = @"<html><body>
        <p>Welcome to WebView.</p>
        <button onclick=""window.external.sendMessage('blah😋')"">Invoke .NET</button>
        <script>
            window.external.receiveMessage(function (message) {
                alert(message);
            });
        </script>
        </body>
        </html>";

    void HandleWebMessage(string data)
    {
        count++;
        myWebView.SendMessage($"Received: {data}");
    }
}
