<Frame CornerRadius="10" BackgroundColor="Color.LightBlue">

    <StackLayout Orientation="StackOrientation.Horizontal" HorizontalOptions="LayoutOptions.Center">

        <Button Text="Increment" OnClick="IncrementCount" />

        <Label Text="@("The button was clicked " + count + " times")"
               FontAttributes="FontAttributes.Bold"
               VerticalTextAlignment="TextAlignment.Center" />

        <Label>
            <FormattedText>
                <FormattedString>
                    <Spans>
                        <Span Text="This span will Increment the count with TapGestureRecognizer!">
                            <TapGestureRecognizer NumberOfTapsRequired="1" OnTapped="IncrementCount" />
                        </Span>
                    </Spans>
                </FormattedString>
            </FormattedText>
        </Label>
    </StackLayout>

</Frame>

@code
{
    int count;

    void IncrementCount()
    {
        count++;
    }
}
