<Frame CornerRadius="10" BackgroundColor="Color.LightBlue">

    <StackLayout Orientation="StackOrientation.Horizontal" HorizontalOptions="LayoutOptions.Center">
        <Button 
                FontSize="50"
                BackgroundColor="Color.Red"

                OnClick="IncrementCount">Increment</Button>
        <BoxView
                 BackgroundColor="Color.Red"
                 ></BoxView>

        <Label Text="@("The button was clicked " + count + " times")"
               FontAttributes="FontAttributes.Bold"
               VerticalTextAlignment="TextAlignment.Center" />
    </StackLayout>

</Frame>

@code
{
    int count;

    void IncrementCount()
    {
        count++;
    }
}
