@page "/gestureplayground"

<ContentView>
    <StackLayout Margin="new Thickness(20)">

        <Label Text="Tap me or pan me"
               FontSize="40" BackgroundColor="Color.LightCoral">
            <TapGestureRecognizer NumberOfTapsRequired="1" OnTapped="@OnLabelTapped" />
            <PanGestureRecognizer OnPanUpdated="@OnLabelPanned" />
        </Label>

        <Label Text="@($"The label above was clicked {count} times")" FontSize="@fontSize" BackgroundColor="Color.AliceBlue" />

    </StackLayout>
</ContentView>

@code
{
    int count;
    double fontSize = 20;

    void OnLabelTapped()
    {
        count += 10;
        StateHasChanged();
    }

    void OnLabelPanned(PanUpdatedEventArgs e)
    {
        fontSize = 20 + e.TotalX;
        StateHasChanged();
    }
}
