@page "/"

<h3>This is a web razor component that could be used in a web view</h3>
<h3>The page directive will be picked up by the ShellNavigationManger even though it can't use this page</h3>
<h3>ShellNavigationManager has been updated to ignore this url</h3>

@code {

}
