[*.cs]

# BL0006: Do not use RenderTree types
dotnet_diagnostic.BL0006.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1724: The type name conflicts in whole or in part with the namespace name. Change either name to eliminate the conflict.
dotnet_diagnostic.CA1724.severity = none

[*.generated.cs]
# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none
