@page "/dogdetails/{Name}"

<ContentPage>
    <ScrollView>
        <StackLayout>
            <Label Text="@Dog.Name"></Label>
            <Label Text="@Dog.Location"></Label>
            <Image Source="@Dog.ImageUrl"></Image>
            <Label Text="@Dog.Details"></Label>
        </StackLayout>
    </ScrollView>
</ContentPage>
@code {
    Animal Dog;

    [Parameter]
    public string Name
    {
        set
        {
            Dog = DogData.Dogs.FirstOrDefault(m => m.Name == Uri.UnescapeDataString(value));
        }
    }
}
