parameters:
  windowsPool: VSEng-MicroBuildVS2019
  macPool: MicroBuildV2MacPool

jobs:
- job: Windows

  variables:
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: true
  - name: _TeamName
    value:  Emblazon

  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
    - name: _BuildArgs
      value: /p:TeamName=$(_TeamName)
    - name: _SignType
      value: real

  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - name: _BuildArgs
      value: ''
    - name: _SignType
      value: test
    - name: _PublishArgs
      value: ''

  pool: ${{ parameters.windowsPool }}
  steps:
  - checkout: self
    clean: true
  - template: install-dependencies.yml

  - powershell: '& (./azure-pipelines/Get-nbgv.ps1) cloud'
    displayName: Set build number

  - template: dotnet.yml

- job: WrapUp
  dependsOn:
  - Windows
  pool: ${{ parameters.windowsPool }}
  condition: and(succeededOrFailed(), ne(variables['Build.Reason'], 'PullRequest'))
  steps:
  - checkout: self
    clean: true
  - template: install-dependencies.yml
    parameters:
      initArgs: -NoRestore
  - template: publish-deployables.yml
